.Messages {
    padding: 20px 30px 0;
    background-color: #FFFBE7;
    display: flex;
    gap: 40px;
}


.friends {
    padding: 10px;
    flex-shrink: 0;
}

.messages {

    flex-grow: 1;
    flex-shrink: 1;
    padding: 5px;
}

.messagesBox {
    height: 500px;
    padding: 10px;
    overflow-y: auto;
    margin-bottom: 40px;
}

.messageAvatar {
    height: 75px;
    width: 75px;
}

.friend {
    background-color: #fa9494;
    display: flex;
    border-radius: 10px;
    box-shadow:1px 1px 8px blue;
    gap: 10px;
    padding: 12px;
    align-items: center;
    margin-bottom: 15px;
    cursor: pointer;
    text-decoration: none;
    transition: 100ms linear;
    &:hover,
    &.active {
        background-color: rgb(255, 242, 104);
        box-shadow:1px 1px 8px red;
    }
}

.avatar {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.name {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: rgb(29, 29, 29);
}

.message {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-family: sans-serif;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: #ffb8cd;
    margin-bottom: 15px;
    box-shadow: 1px 1px 2px rgb(61, 61, 61);
    word-break: break-all;
}

.messageBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.messageDate {
    white-space: nowrap;
}

.MessagesForm {
    display: flex;
    align-items: center;
    gap: 15px;
    div {
        flex-grow: 1;
    }
}

.textarea {
    width: 100%;
    min-height: 80px;
    resize: none;
    border-radius: 10px;
    padding: 5px;
}

.btn {
    font-size: 18px;
    font-weight: 700;
    font-family: sans-serif;
    background-color: greenyellow;
    border: 0;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: 150ms linear;
    box-shadow: 0 0 3px #000;
    &:hover,
    &:active {
        color: red;
        background-color: #fff;
    }
}


@media screen and (max-width: 770px) {
    .Messages {
        flex-direction: column;
    }
    .friends {
        display: flex;
        height: auto;
        overflow-x: auto;
        gap: 13px;
        margin: 0 -27px;
    }
    .friend {
        padding: 7px;
    }
}


@media screen and (max-width: 480px) {
    .box {
        gap: 20px;
    }
    .avatar {
        height: 35px;
        width: 35px;
    }
    .name {
        font-size: 16px;
    }
}