.header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFBE7;
    padding: 15px 40px 15px 15px;
    min-height: 93px;
}

.logo {
    height: 80px;
    width: 80px;
    object-fit: contain;
}

.data {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.login {
    font-family: sans-serif;
    text-decoration: none;
    font-size: 22px;
    font-weight: 800;
    color: #F55353;
}

.userName {
    font-family: sans-serif;
    text-decoration: none;
    font-size: 22px;
    font-weight: 800;
    color: #fd3318;
}

.email {
    font-family: sans-serif;
    text-decoration: none;
    font-size: 22px;
    font-weight: 800;
    color: #00be23;
}

.id {
    font-family: sans-serif;
}

.logout {
    padding: 0;
    border: 0;
    text-decoration: underline;
    text-align-last: left;
    background-color: transparent;
    cursor: pointer;
}

@media screen and (max-width: 620px) {
    .logo {
        height: 45px;
        width: 45px;
    }
}