.Sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1;
    top: 113px;
    width: 320px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FFFBE7;
    transition: 300ms ease-in;
    padding:8px;
    max-width: 90%;
}

.list {
    padding: 22px;
}

.item {
    margin-bottom: 12px;
}

.link {
    font-size: 22px;
    color: #fd6666;
    font-family: sans-serif;
    font-weight: 700;
    text-decoration: none;
    transition: color 200ms linear;
    &:hover {
        color: #FEB139;
    }
    &.active {
        color: red;
    }
}

.friends {
    background-color: #FF8C32;
    padding: 10px;
    border-radius: 10px;
    box-shadow:1px 1px 8px #143F6B;
}

.friendsBox {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.friend {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 31%;
    text-align: center;
    text-decoration: none;
    color: inherit;
    font-family: sans-serif;
    font-weight: 700;
    color: rgb(12, 12, 12);
}

.title {
    color: #143F6B;
    font-size: 22px;
    font-weight: 700;
    font-family: sans-serif;
    margin-bottom: 10px;
}

.avatar {
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 15px;
}

.name {
    width: 100%;
    word-wrap: break-word;
}

.empty {
    font-size: 20px;
    font-family: sans-serif;
    margin: 1em 0;
}

.trigger {
    position: absolute;
    left: 100%;
    top: 20px;
    height: 40px;
    width: 20px;
    text-align: center;
    padding: 0;
    cursor: pointer;
    background-color: #FFFBE7;
    font-size: 18px;
    font-weight: 900;
    border-color: yellowgreen;
    border-left:0 ;
    border-radius: 0 5px 5px 0 ;
    border: 0;
    box-shadow: 2px 0px 2px #FF8C32;
    z-index: -1;
}

@media screen and (min-width: 1150px) {
    .trigger {
        display: none;
    }
}

@media screen and (max-width: 1150px) {
    .Sidebar {
        position: fixed;
        left: 0;
        top: 113px;
        bottom: 0;
    }
    &.opened {
        transform: translateX(-100%);
    }
}

@media screen and (max-width: 620px) {
    .Sidebar {
		top: 93px;
    }
}