.News {
  background-color: #fffbe7;
  padding: 20px 30px;
}

.title {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    font-family: sans-serif;
    color: green;
    margin-bottom: 30px;
}

